* {
    margin:  2rem auto;
    padding: 0;
}
table  td,th{
    border: 1px solid black;
}
td {
    padding: 12px;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #f2f2f9; 
}
tr:nth-child(odd) {
    background-color: #e6d4d4; 
}