body {
    font-family: "Roboto", sans-serif;
}
h1, h2, h3, ol{
    font-family: "Trirong", serif;
}
header > img {
    width: 100%;
    position: relative;
}
header h1 {
    position: absolute; 
    top: 20px;
    left: 20px; 
    color: black; 
    background-color: #F79489;
    opacity: .6;
    padding: 10px 20px; 
}
main {
    display: grid;
    gap: 20px 50px;
}
h2, h3 {
    background-color: #F79489;
    margin: 0;
}
h2 {
    padding: 10px;
    border-bottom: black;
}
.events p, .weather p, .spotlights p {
    background-color: #DEB3AD;
    padding: 30px;
    margin: 0;
}
.events {
    grid-row: 1/2;
    grid-column: 1/2;
    border-style: solid;
}
.weather {
    grid-row: 2/3;
    grid-column: 1/2;
    border-style: solid;
}
.spotlights {
    grid-row: 1/4;
    grid-column: 2/3;
    border-style: solid;
}
footer {
    font-family: "Roboto", sans-serif;
    background-color: #F79489;
    color: black;
    padding: 20px; 
    width: 100%;
    display: grid;
    border-style: solid;
    margin-top: 20px;
}
.contact {
    grid-column: 1/2;
    text-align: center;
    padding-left: 20px;
}
.my-info {
    grid-column: 2/3;
    text-align: center;
    padding-right: 20px;
}