@media screen and (min-width: 900px) {
    header #menu {
        display: none;
    }
    nav {
        display: block;
    }
    nav ol {

        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.2rem;
    }
}