@media screen and (min-width: 600px) {
  #menu {
    display: none;
  }
  nav li {
    display: block;
    background-color: #F79489;
    color: black;
    list-style-type: none;
    padding: 20px;
    opacity: .9;
    text-align: center;
    text-decoration: none;
  }
  a:hover {
    background-color: #B95C50;
  }
  nav {
    position: absolute;
    display: flex;
    top: 70px;
    right: 70px;
    text-decoration: none;
  }
}