header, h2 {
    font-family: "Trirong", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: #F79489;
    width: 100%;
    color: black;
}
main h2 {
    background-color: #B95C50;
    color: black;
    padding: 0px; 
    width: 100%;
    margin: 0px;
}
p.site-name,
p.site-purpose,
p.scenario,
p.schema,
p.roboto {
    font-family: "Roboto", sans-serif;
    background-color: #DEB3AD;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    width: 100%;
    height: 100%;
    margin: 0;
}
p.trirong {
    font-family: "Trirong", serif;
    background-color: #DEB3AD;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
}
p.primary {
    font-family: "Roboto", sans-serif;
    background-color: #F79489;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
}
p.secondary {
    font-family: "Roboto", sans-serif;
    background-color: #B95C50;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    width: 100%;
    height: 100%;
    margin: 0;
}
p.accent {
    font-family: "Roboto", sans-serif;
    background-color: #DEB3AD;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    width: 100%;
    height: 100%;
    margin: 0;
}
footer {
    font-family: "Roboto", sans-serif;
    background-color: #F79489;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    width: 100%;
}